body {
-x-system-font:none;
background-color:White;
color:Black;
font-family:"Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
font-size:10pt;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}

table {
font-size:100%;
margin:4;
padding:0;
}
tr, td, th {
margin:0;
padding:0;
}


table.listing {
background-color:#FFFFFF;
border-collapse:collapse;
border-spacing:0;
font-size:80%;
}

table.listing th {
border-color:#000000;
border-style:solid;
border-width:1px 1px 2px;
padding:3px;
}

table.listing td {
border:1px solid #000000;
padding:3px;
}

label{
float: left;
width: 120px;
font-weight: bold;
}

input, textarea{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 450px;
height: 150px;
}

textarea.news{
width: 450px;
height: 50px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}